@import 'komponenter/_extendedDesignSettings';
@import 'komponenter/_colortemplate';
@import 'komponenter/_base';
@import 'komponenter/_grid.scss';
@import 'komponenter/_krypinpageBase';
@import 'komponenter/_booklistPage';
@import 'komponenter/_bookItemBlock';
@import 'komponenter/_startpage';
@import 'komponenter/_inventory';
@import 'komponenter/_shop';
@import 'komponenter/_installningar';
@import 'komponenter/_jplist';
/* Global krypinskin*/
.aj_bb_KrypinSkin{
    padding-top: 2rem !important;
    padding-left: .5rem!important;
    padding-right: .5rem !important;
    .ikonheaderBlock{
       
    }
    hr{
        margin-top:0px;
        background-color:#000;
    }
}

.Grid-cell .dnnModuleManager{padding:0px!important;}

.item{
  height:auto!important;
}

.loading{
    
        animation: loading 1s linear infinite;
 @keyframes loading {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
 }
}
