@import 'komponenter/_extendedDesignSettings';
@import 'komponenter/_colortemplate';
@import 'komponenter/_base';
@import 'komponenter/_grid.scss';
@import 'komponenter/_krypinpageBase';
@import 'komponenter/_booklistPage';
@import 'komponenter/_skrivbokenBase';
@import 'komponenter/_boktipsBase';
@import 'komponenter/_bookItemBlock';
@import 'komponenter/_startpage';
@import 'komponenter/_inventory';
@import 'komponenter/_shop';
@import 'komponenter/_installningar';
@import 'komponenter/_jplist';
@import 'komponenter/_auto_complete';
@import 'komponenter/_scoreboardPage';
@import 'komponenter/_avatar_mod';
@import 'komponenter/_emil_css';
@import 'komponenter/_itemDropdown';
@import 'komponenter/_print';
@import 'komponenter/_topHeader';
@import 'komponenter/_modal_printPreview';

/* Global krypinskin*/
.kk_aj_conf{
    display:none;
}
.aj_bb_KrypinSkin{
    padding-top: 2rem !important;
    padding-left: .5rem!important;
    padding-right: .5rem !important;
    .ikonheaderBlock{
       
    }
    hr{
        margin-top:0px;
        background-color:#000;
    }
}

.Grid-cell .dnnModuleManager{padding:0px!important;}

.item{
    height:auto!important;
    border-radius:10px;
    __display: flex;
    align-items: top;
    justify-content: center;
    margin-left:.02rem!important;
   margin-right:.02rem !important;
   
    min-height: 300px !important;
   a{
       text-decoration: none !important;
   }
   h5{
       font-size:1.1rem!important;
   }
   img {
        max-height: 200px!important;
   }
   
}

.loading{
    
        animation: loading 1s linear infinite;
 @keyframes loading {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
 }
}
#mceu_17{display:none;}
.aj_bb_highscoreBlock {


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-left:0px!important;
    padding-right:0px!important;
}

}

/* scoreboard*/
#bb_aj_specialbadgeblock, #bb_aj_highscorebadgeblock{
    margin-top:1rem;
    padding-top:.5rem;
    border-top:1px dashed #ddd;
}
#barnensbiblCurrentUserid{display:none;}