.aj_bb_KrypinMainContainer{
     
     .row3{
         margin-left:.15rem;
         margin-right:.3rem;         
         width:auto;
     }
     .aj_bb_krypinNavBlock{
          width:100%;
         #aj_bb_krypinNav{
             width:100%;
             margin:0px;
             padding:0px;
             list-style:none;
             li{
                &:hover{
                    
                    
                    margin-left:-.5rem;
                    margin-right:-.5rem;
                    img{
                        margin-left:.5rem;
                        margin-right:.5rem;
                    }
                 }
                 margin-top:.3rem;
                 img{
                  
                 }
             }
        }
     }
}

 /* item baseblock för alla listitems*/
.bookitem-card{
    position:relative;
     margin-right:1rem;
     margin-left:1rem;
    .bookitem-image{

    }
    .bookitem-info{
        text-align:center;
        background-color:#fff;
        
    }
    .bookitem-button{
        text-align:right;
        position:absolute;
        right:0;       
    }

}