.aj_bb_KrypinMainContainer{
     
     .row3{
         margin-left:.15rem;
         margin-right:.3rem;         
         width:auto;
     }
     .aj_bb_krypinNavBlock{
          width:100%;
         #aj_bb_krypinNav{
             width:100%;
             margin:0px;
             padding:0px;
             list-style:none;
             img{
                 min-width:48px;
             }
             li{
                 margin-top:.3rem; 
                 &:hover{
                    margin-left:-.5rem;
                    margin-right:-.5rem;
                    img{
                        margin-left:.5rem;
                        margin-right:.5rem;
                    }
                 }
                                
             }
        }
     }
}

 /* item baseblock för alla listitems*/
.bookitem-card{
    position:relative;
     margin-right:.5rem;
     margin-left:.5rem;
     min-width:160px;
     //max-width:160px;
     max-height:300px;
     text-align:center;
     overflow:hidden;
      
    img{
        &:hover{
            border:1px solid $iron;
        }
    }
    .bookitem-info{
        text-align:center;
        /*background-color:$white;*/  
       
    }
    .bookitem-button{
        text-align:right;
        position:absolute;
        right:0; 
        a{float:left;}      
    }
    .buttonitem_booktip{
        img{
            &:hover{
                @extend %spinnerhover;
            }
        }
    }
}

.bb_aj_valdmeny{
    margin-left:-.5rem;
    margin-right:-.5rem;                   
    background-color:$darkgreen;   
    img{
        margin-left:.5rem;
        margin-right:.5rem;
    }
}


