.aj_bb_KrypinMainContainer {


    .row3, .row1, .row2 {
        margin-left: .15rem;
        margin-right: .3rem;
        width: auto;
    }

    .aj_bb_krypinNavBlock {
        width: 100%;

        #aj_bb_krypinNav {
            width: 100%;
            margin: 0px;
            padding: 0px;
            list-style: none;

            img {
                min-width: 48px;
            }

            li {
                margin-top: .3rem;

                &:hover {
                    margin-left: -.5rem;
                    margin-right: -.5rem;

                    img {
                        margin-left: .5rem;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }

    .bb_aj_modpart {
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.bb_aj_HeaderSettings{
    text-align:right;
}

.bb_aj_valdmeny {
    margin-left: -.5rem;
    margin-right: -.5rem;    

    img {
        margin-left: .5rem;
        margin-right: .5rem;
    }
}


#bb_aj_modalContainer {
    display:none;
    position: fixed;  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
    .bb_aj_modalheader{
        .buttonblock{
            float:right;
            a img{
                &:hover{
                    @extend %spinnerhover;
                }
            }
        }
    }

    .bb_aj_modalcontent{
        position: absolute;
        top: 50%;
        left: 50%;
        background-color:$white;       
        padding:1rem;
        color: $black;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        overflow-y:auto;
        overflow-x:auto;
        min-width:320px;
        max-height:60%;
        height:70%;
        width:54%;
    }

}

.aj_bb_formBlock {
    padding-left:1rem;
}