.bookitem-card{
    position:relative;
     margin-right:1rem;
     margin-left:1rem;
    .bookitem-image{

    }
    .bookitem-info{
        text-align:center;
        background-color:#fff;
        
    }
    .bookitem-button{
        text-align:right;
        position:absolute;
        right:0;
       
    }

}
