#bb_aj_booklist_Mod{
    .bb_aj_BooklistAdd{
        display:none;

    }
    .bb_aj_BooklistSettings{
        display:none;

    }
    .addboklistform{
        @extend %formmainstyle;
    }

    .booklistSettings{
         img {
            height: 100%;
            max-width: 32px;
            padding-left:.2rem;
            &:hover{
                @extend %spinnerhover;
            }
        }
        button {margin-right:2rem;}
    }

}
