
 /* item baseblock för alla listitems*/
.bookitem-card{
    position:relative; 
    //display:flex;   
    margin-right:.5rem;
    margin-left:.5rem;
    __min-width:160px;
    //max-width:160px;
    max-height:280px;
    text-align:center;
    overflow:hidden;
    align-items: top;
    justify-content: center;
    .bookitem-image{
         
         // max-width:150px;
         height:auto;
         overflow:hidden;
         width:100%!important;
          //display: flex; 
         align-items: top;
         justify-content: center;
         img{
            __max-width:150px;
            justify-content:center;
            align-items: center;                
        }
      }
    
    .bookitem-info{
        text-align:center;
        /*background-color:$white;*/  
       
    }
    .bookitem-button{
        text-align:right;
        position:absolute;
        right:0; 
        a{float:left;}      
    }
    .buttonitem_booktip{
        img{
            &:hover{
                @extend %spinnerhover;
            }
        }
    }
}

.bibblomon-card{
    @extend .bookitem-card;
       
    background-color:$black;
    border-radius:10px;
    padding-bottom:2rem;

    h1, h2, h3, h4, h5, h6{
        color:$white !important;
    }
    h3{
        color:$orangeLight !important;
    }
    p{
        color:$white!important;
        margin-bottom:0px;
        padding-bottom:0px;
    }
    ul{
        li{
            font-size:.8rem;
        }
    }
    &:hover{
        transition: transform .5s;
        transform: rotate(360deg);
        transition-delay: .3s;
        background-color:$black!important;
        
    }
    img{    
        margin-top:.5rem;    
        &:hover{
            border:0px;
        }
    }
    .bookitem-info{
        border:3px solid $black;  
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;      
    }
}

#bb_aj_cmdSetting_Booklist{
    display:none;
}
.booklist-card{
    @extend .bookitem-card;
    .bookitem-image{
        img{    
            display: flex;     
            &:hover{
                //border:0px solid $iron;
                
            }
        }
    }
}

.badgeitem-card{
    @extend .bookitem-card;
    margin-bottom:1rem;
    margin-right:0rem;
    margin-left:0rem;
    _min-width:115px;
     max-width:180px;
}
.skrivbokenitem-card{
   @extend .bookitem-card;
    .buttonitem_edit{
            &:hover{
                    @extend %spinnerhover;
                }
        }
    .bookitem-image{
        img{
            display: flex;
            /*max-width:200px!important;*/
            max-height:200px;
        }
        
    } 
    
}

.boktipsitem-card{
   @extend .bookitem-card;
    .buttonitem_edit{
            &:hover{
                    @extend %spinnerhover;
                }
        }
    .bookitem-image{
        img{
            display: flex;
            max-width:200px!important;
            max-height:200px;
        }
        
    } 
    
}

// infoblocket som ligger över kortet tex biblomon-card
.hoverinfocontainer {
    position: relative;
    &:hover .image {
        opacity: 0.3;
    }

    &:hover .iteminfoblock {
        opacity: 1;
    }
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    .iteminfoblock {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: left;
      width:90%;
      height:90%;
    }
    .iteminfocontent {
      background-color:black;
      color: orange;
      font-size: 0.7rem;
      width:100%;
      height:100%;
      padding-left: .3rem;
      overflow-y:auto;
      h1{
           color: inherit;
      }
      .bb_aj_gotoWiki{
          color:$white;
          position:absolute;
          bottom:0px;
      }
    }
}



