.aj_bb_KrypinSkin {
    .bb_aj_BooklistAdd {
        display: none;
    }

    .bb_aj_BooklistSettings {
        display: none;
    }

    .helptextcontent p {
        text-align: left;
    }

    .addboklistform {
        @extend %formmainstyle;
    }

    .booklistSettings {
        img {
            /* height: 100%; */
            max-width: 32px;
            padding-left: .2rem;

            &:hover {
                @extend %spinnerhover;
            }
        }

        button {
            margin-right: 2rem;
        }
    }

    .bb_aj_editbooklistnamnBlock {
        display: none;

        button {
            height: 2rem !important;
        }

        .editBoklistanamn {
            width: 60%;
            float: left;
            height: 2rem;
        }
    }
}
