
.bibblomon-card{
    @extend .bookitem-card;
    background-color:$black;
    border-radius:10px;
    
    .bookitem-info{
        border:3px solid $black;  
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;      
    }
}
.badgeitem-card{
    @extend .bookitem-card;
    margin-right:0rem;
    margin-left:0rem;
}

