/*Tema med grönt*/
.aj_bb_greenbg{
    
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/greenNyckelpigor.jpg')!important;
    .aj_bb_krypinNavBlock{
        //background-color:#333!important;
        background-image:url('/images/bakgrunder/greenNyckelpigor.jpg');
    }
    .bb_aj_gridItem {
        background-color:#fdf28b;
    }
}

/*Tema med brunt*/
.aj_bb_brownbg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/brunblomma.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#666!important;        
    }
    .bb_aj_gridItem {
        background-color:#fff;
    }
}

/*Tema med Blå*/
.aj_bb_bluebg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/BlueFlowers_light.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#666!important;        
    }
    .bb_aj_gridItem {
        background-color:#fff;
    }
}

/*Tema med svart*/
.aj_bb_blackbg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/skallar.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#666!important;        
    }
    .bb_aj_gridItem {
        background-color:#fff;
    }
}

/*Tema med svart*/
.aj_bb_beigebg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/LjusbeigeBin.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#666!important;        
    }
    .bb_aj_gridItem {
        background-color:#fff;
    }
}