$white       : #FFFFFF;
// $ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
// $silver      : #EFEFEF;
 $smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
 $iron        : #CCCCCC;
// $base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
// $monsoon     : #777777;
 $steel       : #666666;
// $charcoal    : #555555;
$tuatara     : #444444;
// $oil         : #333333;
 $jet         : #222222;
$black      : #000000;
$gold       : #b2a16c;
$darkgreen  : #0c6d4c;
$orange     : #f77136; //#f85014;
$orangeLight: #e2974a;
$beige      :#efebde;
$beigelight :#f7f5ef;
$browngrey  :#949086;
$menygreen: #c1df89;
$menybrown: #62533B;

/*Tema med grönt*/
.aj_bb_greenbg{
    
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/greenNyckelpigor.jpg')!important;
    .aj_bb_krypinNavBlock{
        //background-color:#333!important;
        background-image:url('/images/bakgrunder/greenNyckelpigor.jpg');
    }
    .bb_aj_gridItem {
        background-color:#fdf28b;
    }

    #aj_bb_krypinNav{
         li{ 
            &:hover{
                 background-color:$menygreen;
             }
            
        }
    }
    .bb_aj_valdBG{
        background-color:$menygreen;
    }
}

/*Tema med brunt*/
.aj_bb_brownbg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/brunblomma.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#BCA575;        
    }
    .bb_aj_gridItem {
        background-color:#BCA575;
    }
    
    #aj_bb_krypinNav{
         li{ 
            &:hover{
                 background-color:$menybrown;
             }
        }
    }
}

/*Tema med Blå*/
.aj_bb_bluebg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/BlueFlowers_light.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#C3ECF3!important;        
    }
    .bb_aj_gridItem {
        background-color:#C3ECF3;
    }
    #aj_bb_krypinNav{
         li{ 
            &:hover{
                 background-color:#C3ECF3;
             }
        }
    }
}

/*Tema med svart*/
.aj_bb_blackbg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/skallar.jpg')!important;
    h1,h2,h3,h4,h5,p{
 color:#fff!important;
    }
   
    .aj_bb_krypinNavBlock{
        background-color:#444343!important;        
    }
    .bb_aj_gridItem {
        background-color:#444343;
    }
    #aj_bb_krypinNav{
         li{ 
            &:hover{
                 background-color:#ccc;
             }
        }
    }
}

/*Tema med svart*/
.aj_bb_beigebg{
    background-image:url('/Portals/_default/skins/bb_DAGOBAH_krypin/images/bakgrunder/LjusbeigeBin.jpg')!important;
    .aj_bb_krypinNavBlock{
        background-color:#FBE2B3!important;        
    }
    .bb_aj_gridItem {
        background-color:#FBE2B3;
    }
    #aj_bb_krypinNav{
         li{ 
            &:hover{
                 background-color:#E8B16D;
             }
        }
    }
}
