.ikonheaderBlock {
    h2 {
        color: $white;
    }

    /*h3 {
        color: $white;
    }*/

    position: relative;
    justify-content: flex-start;
    display: flex;
    align-items: center;

    img {
        max-width: 80px;
        margin-right: .5rem;
    }

    .booklistSetup {
        position: absolute;
        right: 0px;
        bottom: -5px;

        img {
            margin-right: .1rem;
        }
    }

    .scoreBlock {
        position: absolute;
        right: 40%;
        top: 0px;
    }
}

.booklistSettings{
    display: flex;
    justify-content: flex-end;
}


.bb_aj_CloseContainer{
  position: absolute;
    right: -6px;
    top: 0px; 
}





